@font-face {
    font-family: "JosefinSans-Bold";
    src: url("../dist/fonts/JosefinSans-Bold.woff") format("woff");
    font-display: auto;
}

@font-face {
    font-family: "JosefinSans-Regular";
    src: url("../dist/fonts/JosefinSans-Regular.woff") format("woff");
    font-display: auto;
}

@font-face {
    font-family: "JosefinSans-Thin";
    src: url("../dist/fonts/JosefinSans-Thin.woff") format("woff");
    font-display: auto;
}

@font-face {
    font-family: "aleo-regular";
    src: url("../dist/fonts/aleo-regular-webfont.woff") format("woff");
    font-display: auto;
}
