$First-Color: #fff;
$Second-Color: #e8e8e8;

$font-JR: "JosefinSans-Regular", sans-serif;
$font-JT: "JosefinSans-Thin", sans-serif;
$font-JB: "JosefinSans-Bold", sans-serif;
$font-A: "aleo-regular", serif;
