.page-title {
  margin: 0 auto;
  width: auto;
  height: 120px;

  &__text1 {
    margin: 0;
    font-family: "Raleway-Medium", sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: $gray-color-1;
    text-align: center;
  }

  &__text2 {
    margin: 0;
    margin-top: 20px;
    font-family: "Roboto-Black", sans-serif;
    font-size: 60px;
    color: $yellow-mustard-color;
    text-align: center;
  }
}
