@font-face {
    font-family: "Gotham-Bold";
    src: url("../dist/fonts/gothambold1.woff") format("woff");
    font-display: auto;
}

@font-face {
    font-family: "Gotham-Book";
    src: url("../dist/fonts/GothamBook.woff") format("woff");
    font-display: auto;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../dist/fonts/OpenSans-Regular.woff") format("woff");
    font-display: auto;
}

@font-face {
    font-family: "OpenSans-Italic";
    src: url("../dist/fonts/OpenSans-Italic.woff") format("woff");
    font-display: auto;
}
