//  colors
$color-f-dark: #2c4058;
$color-global-one: rgb(85, 183, 255);
$color-global-two: rgb(126, 90, 255);

//  fonts
$font-Gotham-Bold: "Gotham-Bold", sans-serif;
$font-Gotham-Book: "Gotham-Book", sans-serif;
$font-OpenSans-R: "OpenSans-Regular", sans-serif;
$font-OpenSans-I: "OpenSans-Italic", sans-serif;
