@import "blocks/blocks";

.body {
  min-width: 1200px;
}

.BEM-WRAP-page-title {
  margin-top: 100px;
}

.BEM-WRAP-separator {
  margin-top: 40px;
}

.BEM-WRAP-people-cards {
  margin: 0 auto;
  width: 1171px;
}
