@font-face {
    font-family: "ProximaNova-Bold";
    src: url("../dist/fonts/ProximaNova-Bold.woff") format("woff");
    font-display: auto;
}
@font-face {
    font-family: "ProximaNova-Semibold";
    src: url("../dist/fonts/ProximaNova-Semibold.woff") format("woff");
    font-display: auto;
}
@font-face {
    font-family: "PTSans-Bold";
    src: url("../dist/fonts/PTSans-Bold.woff") format("woff");
    font-display: auto;
}
@font-face {
    font-family: "PTSans-Italic";
    src: url("../dist/fonts/PTSans-Italic.woff") format("woff");
    font-display: auto;
}
@font-face {
    font-family: "PTSans-Regular";
    src: url("../dist/fonts/PTSans-Regular.woff") format("woff");
    font-display: auto;
}
