// --- colors ---
// white
$color-fff: #fff;
$color-white-one: #fefefb;
// gray
$color-gray-one: #665f60;
$color-gray-two: #7d7a7c;
// purple
$color-purple: #9f9acf;
// color BACKground
$color-back-one: #ebebeb;
$color-back-two: #dbdbdb;

//
// --- fonts ---
$font-ProximaNova-Bold: "ProximaNova-Bold", sans-serif;
$font-ProximaNova-Semibold: "ProximaNova-Semibold", sans-serif;
$font-PTSans-Bold: "PTSans-Bold", sans-serif;
$font-PTSans-Italic: "PTSans-Italic", sans-serif;
$font-PTSans-Regular: "PTSans-Regular", sans-serif;
